DATABASE_URL=""
DEEPLINK_TEAM_SIGNATURE=""
VIEW_PRIVATE_KEY=""
WEB3_URL_PROVIDER=""
TASK_CONTRACT_ADDRESS=""
COVALENT_API_BASE_URL=""
COVALENT_API_KEY=""
PINATA_API_KEY=""
PINATA_SECRET_API_KEY=""
API_TOKEN_KEY=""
IPFS_BASE_URL=""
XU_NFT_CONTRACT_ADDRESS=""

XU_CONTROLLER_URL=""
XU_CONTROLLER_KEY=""
# 1 for true, 0 for false
XU_CONTROLLER_ENABLE=0


# Hivelocity key, currently used to mock controller
HIVELOCITY_KEY=
# Comma separated list of hivelocity keys, will be used to round-robbin deployments in case the server hasn't been added.
HIVELOCITY_SERVER_IDS=
